apiVersion: v1
kind: ConfigMap
metadata:
  name: "thrift-server"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "thrift-server"
data:
  thrift-server.conf: |-
    spark.master=spark://{{ spark_cluster_name }}.{{ meta.namespace }}.svc:{{ spark_cluster_port }}
    spark.hadoop.fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem
  {% if s3_endpoint == '' %}
    spark.hadoop.fs.s3a.endpoint=s3-{{ s3_region }}.amazonaws.com
  {% else %}
    spark.hadoop.fs.s3a.endpoint={{ s3_endpoint }}
  {% endif %}
    spark.hadoop.javax.jdo.option.ConnectionDriverName={{ db_driver }}
    spark.hadoop.datanucleus.rdbms.datastoreAdapterClassName=org.datanucleus.store.rdbms.adapter.PostgreSQLAdapter
    spark.hadoop.javax.jdo.option.ConnectionUserName={{ db_user }}
    spark.hadoop.javax.jdo.option.ConnectionPassword={{ db_password }}
    spark.hadoop.javax.jdo.option.ConnectionURL=jdbc:postgresql://thrift-server-db.{{ meta.namespace }}.svc:5432/thrift-server-db
    spark.sql.warehouse.dir=/spark-warehouse
    spark.driver.host=thrift-server.{{ meta.namespace }}.svc
    spark.driver.port=42000
    spark.blockManager.port=42100
    spark.driver.bindAddress=0.0.0.0
    spark.cores.max={{ spark_max_cores }}