apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: "thrift-server-ui"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "thrift-server-ui"
spec:
  port:
    targetPort: 4040-tcp
  to:
    kind: Service
    name: "thrift-server"
    weight: 100
  wildcardPolicy: None
