apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: "thrift-server-db"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "thrift-server"
spec:
  strategy:
    type: Recreate
  triggers:
  - type: ConfigChange
  replicas: 1
  selector:
    name: "thrift-server-db"
  template:
    metadata:
      labels:
        name: "thrift-server-db"
    spec:
      containers:
      - name: thrift-server-db
        image: "{{ db_image }}"
        ports:
        - containerPort: 5432
          protocol: TCP
        readinessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 5
          exec:
            command:
            - "/usr/libexec/check-container"
        livenessProbe:
          timeoutSeconds: 10
          initialDelaySeconds: 120
          exec:
            command:
            - "/usr/libexec/check-container"
            - "--live"
        env:
        - name: POSTGRESQL_USER
          valueFrom:
            secretKeyRef:
              name: "thrift-server-db"
              key: database-user
        - name: POSTGRESQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "thrift-server-db"
              key: database-password
        - name: POSTGRESQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: "thrift-server-db"
              key: database-name
        resources:
          limits:
            memory: "{{ db_memory_limit }}"
        volumeMounts:
        - name: "thrift-server-db-data"
          mountPath: "/var/lib/pgsql/data"
        terminationMessagePath: "/dev/termination-log"
        imagePullPolicy: IfNotPresent
        capabilities: {}
        securityContext:
          capabilities: {}
          privileged: false
      volumes:
      - name: "thrift-server-db-data"
        persistentVolumeClaim:
          claimName: "thrift-server-db"
      restartPolicy: Always
      dnsPolicy: ClusterFirst
