{
    "kind": "BuildConfig",
    "apiVersion": "build.openshift.io/v1",
    "metadata": {
        "name": "jupyterhub-img",
        "namespace": "{{ meta.namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    },
    "spec": {
        "triggers": [
            {
                "type": "ConfigChange"
            }        ],
        "source": {
            "type": "Git",
            "git": {
                "uri": "https://github.com/aicoe/jupyterhub-ocp-oauth"
            }
        },
        "strategy": {
            "type": "Source",
            "sourceStrategy": {
                "from": {
                    "kind": "ImageStreamTag",
                    "name": "jupyterhub:{{ jupyterhub_base_tag }}"
                }
            }
        },
        "output": {
            "to": {
                "kind": "ImageStreamTag",
                "name": "jupyterhub-img:{{ jupyterhub_img_tag }}"
            }
        }
    }
}
