apiVersion: v1
kind: Service
metadata:
  name: hue
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
spec:
  selector:                  
    name: hue
  ports:
  - name: 8000-tcp
    port: 8000
    protocol: TCP
    targetPort: 8000