apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: hue
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
spec:
  template:
    metadata:
      labels:
        name: hue
        app: hue
    spec:
      containers:
        - name: hue
          image: {{ hue_app_image }}
          command: ["build/env/bin/hue", "runcpserver"]
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 500m
              memory: 1000Mi
          env:
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: hue
                key: AWS_ACCESS_KEY_ID
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: hue
                key: AWS_SECRET_ACCESS_KEY
          volumeMounts:
          - name: "hue-ini"
            mountPath: /hue/desktop/conf/
          - name: "hive-site-xml"
            mountPath: /etc/hive/conf/
          livenessProbe:
            failureThreshold: 4
            httpGet:
              path: /
              port: 8000
              scheme: HTTP
            periodSeconds: 30
            initialDelaySeconds: 300
            successThreshold: 1
            timeoutSeconds: 5
      restartPolicy: Always
      volumes:
      - name: "hue-ini"
        configMap:
          name: hue-ini
      - name: "hive-site-xml"
        configMap:
          name: hue-hive-site-xml
  replicas: 1 
  triggers:
  - type: ConfigChange
  strategy: 
    type: Rolling
